{deps, [ {minirest, {git, "https://github.com/emqx/minirest", {tag, "v0.2.2"}}}
       , {emqx, {git, "https://github.com/emqx/emqx", {branch, "develop-3.2"}}}
       ]}.

{profiles,
    [{test, [
        {deps, [ {emqx_ct_helper, {git, "https://github.com/emqx/emqx-ct-helper", {branch, "v1.1.1"}}}
               , {emqx_management, {git, "https://github.com/emqx/emqx-management", {branch, "develop-3.2"}}}
               ]}
    ]}
]}.

{erl_opts, [debug_info]}.
